<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alarm">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconsms"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconsms"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WorkDone"></activity>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".MyBroadCastReceiver" />

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>